extends layout

block content
    nav
      ul
        if user
            li: a(href='/') Accueil
            li: a(href='/catways') Liste des catways
            li: a(href='/catways/add') Ajouter un Catway
            li: a(href='/users/' + user._id + '/account') Mon compte
            li: a(href='/logout') Se déconnecter
        else
            li: a(href='/') Accueil
            li: a(href='/users/signin') Se connecter
            li: a(href='/users/add') S'inscrire
    h1= titlePage


    div(id='description') 
        div
            h2#description-title Description
            p#description-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        img#description-img(src="../images/img.jpg")