extends layout

block content
    nav
        if user
            ul
                li: a(href='/') Accueil
                li: a(href='/dashboard') Tableau de bord
            ul
                li: a(href='/users/' + user._id + '/account', id="link-account", style="display: inline-flex; align-items: center; justify-content: center; width: 30px; height: 30px; border-radius: 50%; background-color: blue;") 
                    svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor", style="width: 25px; height: 25px;")
                        path(stroke-linecap="round", stroke-linejoin="round", d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z")        
                li: a(href='/logout') Se déconnecter
        else
            ul
                li: a(href='/') Accueil
            ul
                li: a(href='/users/signin') Se connecter
                li: a(href='/users/add') S'inscrire
    h1= titlePage


    #description
        div
            h2#description-title Description
            p#description-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        img#description-img(src="../images/img.jpg")
    #documentation-api
        div
            h2#doc-title Lien vers la documentation de l'API 
            a(href='/docs/index.html') Documentation